.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;

  pointer-events: none;
  
}



.App-header {
  background-color: #2e2834;
  min-height: 00vh;

  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
